Library
Library/*
*.csproj
*.unityproj
*.sln
*.userprefs
Temp
/Cars/
/Maps/
/Assets/Maps/
/Assets/Maps.meta
/Assets/Resources/
/Assets/Resources.meta
obj
/*.suo
.vs
Thumbs.db
Thumbs.db.meta
/.idea/
/Builds/
/logs/
Prefs/
.vscode/